[Unit]
Description=Gunicorn instance to serve Visitor Portal
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/var/www/visitor_portal
Environment="PATH=/var/www/visitor_portal/venv/bin"
EnvironmentFile=/var/www/visitor_portal/.env
ExecStart=/var/www/visitor_portal/venv/bin/gunicorn --workers 3 --bind 127.0.0.1:8000 wsgi:app

[Install]
WantedBy=multi-user.target
